.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  width: 300px;
  border-radius: 8px;
  text-align: center;
  background-color: #fafafa;
}

.product-card img {
  width: 100%;
  border-radius: 6px;
}

.price {
  font-weight: bold;
}
